.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.game-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 0 8px;
  overflow: hidden;
}