.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  padding: 10px 0;
}

.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  /* Make board responsive */
  height: min(420px, calc(100vw - 40px));
  width: min(350px, calc(100vw - 40px));
}